<?xml version="1.0"?>
<!--* @category    SchumacherFM_OptBeLogin-->
<!--* @package     etc-->
<!--* @author      Cyrill at Schumacher dot fm / @SchumacherFM-->
<!--* @copyright   Copyright (c)-->
<!--* @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)-->
<config>
    <modules>
        <SchumacherFM_OptBeLogin>
            <version>1.1.0</version>
        </SchumacherFM_OptBeLogin>
    </modules>

    <global>
        <models>
            <optbelogin>
                <class>SchumacherFM_OptBeLogin_Model</class>
            </optbelogin>
        </models>
        <blocks>
            <optbelogin>
                <class>SchumacherFM_OptBeLogin_Block</class>
            </optbelogin>

            <captcha>
                <rewrite>
                    <captcha_zend>SchumacherFM_OptBeLogin_Block_Captcha_Zend</captcha_zend>
                </rewrite>
            </captcha>

        </blocks>
        <helpers>
            <optbelogin>
                <class>SchumacherFM_OptBeLogin_Helper</class>
            </optbelogin>
        </helpers>


    </global>

    <adminhtml>
        <translate>
            <modules>
                <SchumacherFM_OptBeLogin>
                    <files>
                        <default>SchumacherFM_OptBeLogin.csv</default>
                    </files>
                </SchumacherFM_OptBeLogin>
            </modules>
        </translate>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <OptBeLogin_SetTemplate>
                        <class>optbelogin/observer</class>
                        <method>setAdminLoginTemplate</method>
                    </OptBeLogin_SetTemplate>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </adminhtml>
</config>